<!DOCTYPE html>
<html>
  <head>
   
    <link rel="stylesheet" href="/add_new.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <!-- <script src="functions.js"></script> -->
    <title></title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even){background-color: #bebebe}
          
          th {
            background-color: #3d3939;
            color: white;
          }
          #search{
            width: 15%;
            
            
          }
          input[type="text"]{
            width: 70%;
            padding: auto;
            margin: 1%;
          }
          input[type="submit"].checkbox{
            background-color: red;
            height: 15px;
            width: 15px;
            text-align: center;
            color:transparent;
            border: 2px solid black;
            padding: 0px;
          }
    </style>
  </head>

  <body>
     
<!-- <input type = "button" onclick = "formatTime(100000)" value = "Click Me"> -->
    <h1>Archived Items <br /></h1>
    <table>
      <form method="POST" action = "/search">
        <label></label>
        <input type = "text" name="term" placeholder="Enter Search term">
        <input id = "search" type = "submit" value= "Search"/>

      </form>
     
      <!-- <label>Search for </label> -->
        <tr>
            <th>Product Code</th>
            <th>Item Name</th>
            <th>Amount</th>
            
            <th>location From</th>
            <th>Destination</th>
            <th>Best Before Date</th>
            <th>Time Created</th>
            <th>Date Created</th>
        
          
          
            <th>Delete</th>

        </tr>
    <tr>
       
      </tr>
    
    <% foods.forEach(function (food) { %>
     
        <tr>

          <td>  <%= food.product_code %> </td>
            <td><%= food.food_item %></td> 
             <td><%= food.mass %></td>
          
            <td><%= food.location_from %></td> 
             <td><%= food.location_to %></td>
             <td><%= food.bbb.toLocaleDateString()%></td>
            <td><%= food.createdAt.toLocaleTimeString([], {timeZone: "America/New_York", hour: '2-digit', minute: '2-digit'}); %></td>
            <td><%= food.createdAt.toLocaleDateString() %></td>
          
           
           

            <td>
              <form id="Q" name="del" method="POST" action="/delete-arc">
            
              <input   type="submit" id = " <%=food.product_code%>" onclick="myCuteFunction(this.id)" class = "checkbox"  name="delete" placeholder = "test" value="<%= food.product_code%>">
            </td>
            </form>
          </tr>
            <% }) %>
    </table>
   <br>
   <br>
    <a class = "home" href = "/index">HOME PAGE</a>
    <a class = "archive" href = "/jagger">ALL ITEMS</a>
  </body>
  
 <script>
  function myCuteFunction(x) {    
    console.log(x+"Q");
    var y = x+"Q";
    console.log(y);
      var form = document.getElementById("Q");
      console.log(form);
      let result = confirm("Do you want to delete item?");
      if (result){
        document.getElementById("Q").submit();
      }
    }
 </script>
</html>
