<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/add_new.css">
  </head>

  <body>
    <!-- <h1>PRODUCT CODE IS</h1> <h1 style = "color: red;"><%= foods %></h1> -->
    <h1>Product Added</h1>

    <% foods.forEach(function (food) { %>
     
        

      <label style="color:red">Product code: <%= food.product_code %> <br><br></label>
        


    <form method="POST" action="/edit">
      <label>Current food_item: <%= food.food_item %></label><br>
    
     
  
    
      <label>  Current Location From: <%= food.location_from %><br></label>
     
      
      <label>Current Mass: <%= food.mass %><br></label>

    
    </form>
    <% }) %>
<br>
    
    <a class = "home" href = "/index">HOME PAGE</a>

  </body>
 
</html>
