<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/add_new.css">
    <style>

      #test{
        line-height: 30px;
      }
      #q{
        
        color:black;
       
      }
      body{
        text-align: center;
        display: block;
      }
      #temp{
        
        
          width: fit-content;
          height: 25px;
          background: #6e6e6e;
          padding: 10px;
          text-align: center;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          line-height: 25px;
          text-decoration: none;
        }
      #temp:hover{
        background-color: black;
      }
    </style>
  </head>

  <body>
    <!-- <h1>PRODUCT CODE IS</h1> <h1 style = "color: red;"><%= foods %></h1> -->
    <h1>Product Added</h1>

    <% foods.forEach(function (food) { %>
     

     
      <label id = "code" style="border:3px solid black; padding:10px">Product code: <%= food.product_code %></label>
      <br>
      <br>



    <form id = "test"method="POST" action="/edit">
      <label>Current food_item: <%= food.food_item %></label><br>
    
     
  
    
      <label>  Current Location From: <%= food.location_from %><br></label>
     
      
      <label>Current Mass: <%= food.mass %><br></label>
      <label>Current Best Before Date: <%= food.bbb %><br></label>

    
    </form>
    <% }) %>
<br>
    
    <a id="temp" href = "/index">HOME PAGE</a>

  </body>
 
</html>
