<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/add_new.css">
    <title></title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even){background-color: #f2f2f2}
          
          th {
            background-color: #2f7134;
            color: white;
          }
    </style>
  </head>

  <body>
    <h1>ALL DOCUMENTS <br /></h1>
    <table>
      <form method="POST" action = "/search">
        <label>Enter Search term</label>
        <input type = "text" name="term">
        <input type = "submit" />

      </form>
      <!-- <label>Search for </label> -->
        <tr>
            <th>code</th>
            <th>mass</th>
            <th>item</th>
            <th>location_from</th>
            <th>Date</th>
        </tr>
    <tr>
       
      </tr>
    <% foods.forEach(function (food) { %>
     
        <tr>

          <td>  <%= food.product_code %> </td>
            <td><%= food.mass %></td>
            <td><%= food.food_item %></td>
            <td><%= food.location_from %></td>
            <td><%= food.createdAt.toLocaleTimeString() %></td>
            <td><%= helper.formatTime(food.createdAt) %></td>
        </tr>
            <% }) %>
    </table>
  </body>
 
</html>
